[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
psycopg2-binary = "*"
waitress = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
